/// Funciones con cadenas de texto
@use "sass:string";
@use "sass:math";
@use "sass:list";
@use "sass:selector";
@use "sass:color";

@debug "hola";
@debug string.index("Helvetica Neue", "Neue");

$string: "Helvetica";
$newString: string.insert($string, " Bold", 10);

@debug $newString;
@debug string.length($newString);
@debug string.slice($newString, 5, 9);

@debug string.to-upper-case("Roboto Mono");
@debug string.to-lower-case("Roboto Mono");

@debug string.unique-id();

/// Funciones con numeros
@debug math.$e;
@debug math.$pi;

@debug math.ceil(4.6);
@debug math.floor(4.6);
@debug math.round(4.6);

@debug math.clamp(0, 80, 100);

@debug math.max(3, 4, 6, 399, 10, 2);
@debug math.min(3, 4, 6, 399, 10, 2);


@debug math.abs(8);
@debug math.abs(-8);

@debug math.pow(2, 12);
@debug math.pow(2, math.abs(-23));

@debug math.cos(math.$pi);
@debug math.sin(math.$pi);
@debug math.tan(math.$pi);

/// Funciones con listas
$lista1: 10px, 10px, 0px, 15px;

@debug $lista1;
@debug list.append($lista1, 25px, space);

$border-custom: solid 1px #ccc;
@debug list.index($border-custom, 1px); //2
@debug list.index($border-custom, 2px); //null

@debug list.join($lista1, $border-custom, auto);
@debug list.length(list.join($lista1, $border-custom, auto));
@debug list.separator($border-custom);
@debug list.separator(list.join($lista1, $border-custom, auto));

@debug list.set-nth($border-custom, 2, 2px);

/// Funciones de selector
$selector1: "A";
$selector2: ".disabled";
@debug selector.append($selector1, $selector2);

/// Funciones de color
$color: rgb(253, 43, 158);
@debug color.adjust($color, $red: -10, $alpha: -0.5);
$color2: rgba(243, 45, 159, 0.5);

@debug color.complement($color);
$color-comp: #2bfd8a;
@debug darken($color, 30%);
$color-dark: #8e014e;
@debug lighten($color, 30%);
$color-light: #fec3e3;

@debug color.red($color);
@debug color.green($color);
@debug color.blue($color);

@debug color.invert($color);
$color-invertido: #02d461;